<footer class="app-footer">
  <app-container>
    <div class="inner">
      <ul>
        <li>
          Desenvolvido por Arthur Bufon e Lucas Grolli &copy; 2024. Todos os direitos reservados.
        </li>
      </ul>

      <ul class="socials">
        <ul>
          <li>Acesse nossas redes:</li>
        </ul>

        <li>
          <button mat-icon-button>
            <img src="assets/icones/whatsapp.png" alt="Ícone do whatsapp">
          </button>

          <button mat-icon-button>
            <img src="assets/icones/instagram.png" alt="Ícone do instagram">
          </button>

          <button mat-icon-button>
            <img src="assets/icones/twitter.png" alt="Ícone do twitter">
          </button>
          
        </li>
      </ul>
    </div>
  </app-container>
</footer>