.card-busca {
  max-width: 220px;
  height: 100%; // Define altura igual para todos
  display: flex; // Torna o layout interno flexível
  flex-direction: column; // Alinha itens verticalmente
  justify-content: space-between; // Distribui os elementos igualmente
  background-color: #FEF7FF;
  border-radius: 12px;

  button {
    width: calc(100% - 32px); // Respeita padding
    margin: 0 16px 16px; // Ajusta espaçamento inferior
    font-size: 12px;
  }

  ul {
    list-style: none;
    padding: 16px; // Adiciona espaçamento interno
    margin: 0;

    li {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #1D1B20;
      text-align: center;
    }
  }
}
