.card-busca {
  max-width: 220px;
  max-height: max-content;
  background-color: #FEF7FF;
  border-radius: 12px;
  button {
    width: 100%;
    margin: 0 16px 48px;
    font-size: 12px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 8px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #1D1B20;
      text-align: center;
    }
  }
}
