<app-container>
  <mat-card>
    <form [formGroup]="cadastroForm" (submit)="enviarCliente()">

      <mat-card-title>
        {{ id ? 'Atualize' : 'Crie' }} sua conta
      </mat-card-title>

      <section>
        <div class="acoesPerfil">
          <h2>Dados pessoais</h2>
          <button *ngIf="token" mat-stroked-button color="primary">
            <mat-icon>logout</mat-icon>
            DESLOGAR
          </button>
        </div>
      </section>

      <mat-card-content>
        <div class="grid-container">

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput [value]="cliente.nome" formControlName="nome" placeholder="Nome">
            <mat-error *ngIf="cadastroForm.get('nome')?.errors">Nome é obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" placeholder="Digite seu CPF">
            <mat-error *ngIf="cadastroForm.get('cpf')?.errors">CPF é obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input matInput formControlName="cnpj" placeholder="Digite seu CPF">
            <mat-error *ngIf="cadastroForm.get('cnpj')?.errors">CNPJ é obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>DDD</mat-label>
            <input matInput formControlName="ddd" placeholder="+XXX">
            <mat-error *ngIf="cadastroForm.get('ddd')?.errors">DDD é obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" placeholder="XXXX-XXXX">
            <mat-error *ngIf="cadastroForm.get('telefone')?.errors">Telefone é obrigatório</mat-error>
          </mat-form-field>

          <mat-error *ngIf="estadoControl?.errors && estadoControl?.touched">Estado é obrigatório</mat-error>
        </div>

      </mat-card-content>

      <mat-divider></mat-divider>

      <div class="acessoPerfil">
        <h2>Dados de acesso</h2>
      </div>

      <mat-card-content>
        <div class="grid-container">
          <div class="grid-item">

            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" type="email" placeholder="Digite seu e-mail">
              <mat-error *ngIf="cadastroForm.get('email')?.errors?.['required']">E-mail é obrigatório</mat-error>
              <mat-error *ngIf="cadastroForm.get('email')?.errors?.['email']">E-mail inválido</mat-error>
            </mat-form-field>

          </div>

        </div>

        <mat-checkbox formControlName="aceitarTermos" color="primary" class="full-width">Li e aceito os termos e
          condições deste cadastro *</mat-checkbox>

        <mat-error *ngIf="cadastroForm.get('aceitarTermos')?.invalid && cadastroForm.get('aceitarTermos')?.dirty">
          Você precisa aceitar os termos e condições para efetuar o cadastro
        </mat-error>

      </mat-card-content>

      <mat-card-actions class="full-width">
        <button mat-flat-button [disabled]="cadastroForm.invalid" color="primary">{{ id ? 'ATUALIZAR' : 'CADASTRAR' }}</button>
      </mat-card-actions>

    </form>
  </mat-card>
</app-container>