

 <div class="teste">
  <h2>Gerenciar Pedidos</h2>

  <br>

  <div class="filter-container">
    
    <mat-form-field class="mat-mdc-form-field">
      <mat-label>Filtros</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Procure aqui um pedido" #input>
    </mat-form-field>

   
    <mat-form-field class="">
      <mat-label>Insira uma data</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate value="" placeholder="Data de Início">
        <input matEndDate placeholder="Data Final">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" matSort>

      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
        <td mat-cell *matCellDef="let row"> {{row.valor | currency: 'BRL':'symbol':'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="acrescimos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acrescimos </th>
        <td mat-cell *matCellDef="let row"> {{row.acrescimos | currency: 'BRL':'symbol':'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="descontos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descontos </th>
        <td mat-cell *matCellDef="let row"> {{row.descontos | currency: 'BRL':'symbol':'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="emissao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Emissão </th>
        <td mat-cell *matCellDef="let row"> {{row.created_at | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

     
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let row">
          <button [routerLink]="['/pedidos', row.id]" mat-raised-button color="primary">Editar</button>
          <button mat-raised-button color="primary" (click)="deletarPedido(row.id)">Deletar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
<!-- 

<div class="teste">


  <mat-form-field>
    <mat-label>Procure aqui um pedido</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Digite para buscar" #input>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Insira uma data</mat-label>
    <mat-date-range-input [rangePicker]="picker" (dateChange)="filterByDate($event.value.start, $event.value.end)">
      <input matStartDate placeholder="Data de Início">
      <input matEndDate placeholder="Data Final">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>


</div> -->