

<div class="teste">
    <h2>Gerenciar Clientes</h2>
  
    <br>
  
    <div class="filter-container">
      
      <mat-form-field class="mat-mdc-form-field">
        <mat-label>Filtros</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Procure aqui um pedido" #input>
      </mat-form-field>
  
     
      <mat-form-field class="">
        <mat-label>Insira uma data</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate value="" placeholder="Data de Início">
          <input matEndDate placeholder="Data Final">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  
    <div>
      <table mat-table [dataSource]="dataSource" matSort>
  
        
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>
  
       
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let row">
            <button [routerLink]="['/cadastro', row.id]" mat-raised-button color="primary">Editar</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>