<app-container>
    <mat-card>
      <form [formGroup]="pedidoForm" (submit)="enviarPedido()">
  
        <mat-card-title>
          {{ id ? 'Atualize' : 'Crie' }} o Pedido nº {{id}}
        </mat-card-title>
  
       
  
        <mat-card-content>
          <div class="grid-container">
            
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Valor</mat-label>
              <input matInput [value]="pedido.valor" formControlName="valor" placeholder="Valor">
              <mat-error *ngIf="pedidoForm.get('valor')?.errors">Valor é obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Acréscimos</mat-label>
              <input matInput [value]="pedido.acrescimos" formControlName="acrescimo" placeholder="Acréscimos">
              <mat-error *ngIf="pedidoForm.get('acrescimo')?.errors">Acréscimo é obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Descontos</mat-label>
              <input matInput [value]="pedido.descontos" formControlName="descontos" placeholder="Descontos">
              <mat-error *ngIf="pedidoForm.get('descontos')?.errors">Desconto é obrigatório</mat-error>
            </mat-form-field>
  
  
          </div>
  
        </mat-card-content>
  
        <mat-card-actions class="full-width">
          <button mat-flat-button [disabled]="pedidoForm.invalid" color="primary">{{ id ? 'ATUALIZAR' : 'CADASTRAR'
            }}</button>
        </mat-card-actions>
  
      </form>
    </mat-card>
  </app-container>