.sidenav-container {
  min-height: 100vh;
  display: flex;
}

.sidenav {
  background-color: black;
  color: white;
  width: 18rem;
  max-width: 9rem;
  flex-direction: column;
}

.mat-mdc-outlined-button:not(:disabled) {
  border-color: white;
  width: 100%;
}

.sidebar-links {
  list-style: none;
  padding: 10%; /* Ajuste se necessário */
  margin: 0; /* Certifique-se de que não haja margens adicionais */
}

.sidebar-links li {
  margin-bottom: 15px; /* Espaçamento entre os itens da lista (botões) */
}

.link {
  display: flex;
  padding: 12px 8px;
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-content {
  padding: 24px;
  border-radius: 8px;
}
