<div class="carrinho">


    <div class="cart-header">
        <img src="/assets/icones/carrinho.png" alt="Carrinho" />
        <h3> <strong> Meu Carrinho </strong></h3>
    </div>



    <div *ngFor="let item of carrinhoService.getCarrinho()">
        <p> {{ item.quantidade }}x - {{ item.produto.nome }} - {{ item.produto.preco | currency:'BRL':'symbol':'1.2-2'
            }}</p>
        <button mat-icon-button color="warn" (click)="removerItem(item.produto)">
            <mat-icon>delete</mat-icon>
        </button>

    </div>
    <p class="total">Total: {{ total | currency:'BRL':'symbol':'1.2-2' }}</p>
    <button mat-raised-button color="primary" (click)="enviarPedido()">Enviar Pedido</button>
</div>